body{
    text-align: center;
}

.navbar{
    
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
    padding: 1rem;    
    justify-content: center;
    gap: 1rem;
    display: flex;
}
a{
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid black;
}